* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
    height: 3em;
}

.body {
    min-height: 100vh;
    background-color: #DAE0E6;
}

.modal {  
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-text {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: white;
    color: black;
    margin: 2.7% auto; /* 15% from the top and centered */
    height: 57em;
    width: 36em; /* Could be more or less, depending on screen size */
    font-size: 0.7em;
    gap: 1.5em;
    box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.modal-text-top {
    display: flex;
    flex-direction: column;
    margin: auto 15%;
}

.modal-text-top > span {
    gap: 1em;
}

#modal-text-header {
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 0.5em;
}

#modal-text-agreement {
    padding-bottom: 3em;
}

#modal-close-button {
    cursor: pointer;
    color: grey;
    font-size: 1.5em;
    display: flex;
    flex-direction: row-reverse;
    padding: 0.7em;
}

.modal-links {
    cursor: pointer;
    color: rgb(0, 123, 255);
    font-weight: bold;
    text-decoration: underline;
}

.modal-sign-in {
    cursor: pointer;
    width: 100%;
    padding: 0.9em;
    border-radius: 2em;
    border: solid;
    background-color: white;
    border-color: #DAE0E6;
}

.modal-sign-in:hover {
    background-color:rgb(243, 249, 255);
}

.modal-divider {
    text-align: center;
    color: grey;
    font-weight: bold;
    font-size: 1.08em;
    padding: 2em;
}

.modal-divider-text {
    display: flex;
    flex-direction: row;
}

.modal-text-buttons {
    padding-top: 1em;
    padding-bottom: 1em;
}

.modal-text-box {
    padding-top:1em;
}

.modal-divider-text:before, .modal-divider-text:after{
    content: "";
    flex: 1 1;
    border-bottom: 0.1em solid;
    border-color:#DAE0E6;
    margin: auto 11%;
  }
  .modal-divider-text:before {
    margin-right: 1.5em;
  }
  .modal-divider-text:after {
    margin-left: 1.5em;
  }

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto 15%;
}

form > input {
    color: black;
    padding: 0.9em;
    border-radius: 2em;
    width: 90%;
    border: none;
    background-color: #f5f6f7;
    border: solid;
    border-color: #cdd9e3;
}

.login-button {
    color: white;
    background-color: #ff4500;
    width: 100%;
    padding: 0.9em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
}

.forgot-user-links {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

#modal-links-dot {
    color: rgb(0, 123, 255);
    font-size: 0.3em;
}