* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #DAE0E6;
  padding-top: 3.5em;
  max-width: 100vw;
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 0.25em;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav-bar > span {
  padding-left: 1em;
}

/*
#nav-bar-input-login {
  padding: 1em;
  width: 35%;
}
*/

.modal {  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-text {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  background-color: white;
  color: black;
  margin: 2.7% auto; /* 15% from the top and centered */
  max-height: 90vh;
  max-width: 30vw; /* Could be more or less, depending on screen size */
  font-size: 1.5vh;
  gap: 1vh;
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.modal-pop-ups {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
}

.modal-text-top {
  display: flex;
  flex-direction: column;
  margin: auto 15%;
}

.modal-text-top > span {
  gap: 1em;
}

#modal-text-header {
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 0.5em;
}

#modal-text-agreement {
  padding-bottom: 3em;
}

.modal-close-div {
  display: flex;
  flex-direction: row-reverse;
}

.modal-arrow-div {
  display: flex;
  padding-bottom: 5em;
}

#modal-close-button {
  cursor: pointer;
  color: grey;
  font-size: 1.5em;
  padding: 0.7em;
}

#delete-close-button {
  cursor: pointer;
  color: grey;
  font-size: 1em;
}

#modal-arrow-button {
  cursor: pointer;
  color: grey;
  font-size: 2em;
}

.modal-links {
  cursor: pointer;
  color: rgb(0, 123, 255);
  font-weight: bold;
  text-decoration: underline;
}

.modal-sign-in {
  cursor: pointer;
  padding: 2vh;
  border-radius: 2em;
  border: solid;
  background-color: white;
  border-color: #DAE0E6;
}

.modal-sign-in:hover {
  background-color:rgb(243, 249, 255);
}

.modal-divider {
  text-align: center;
  color: grey;
  font-weight: bold;
  font-size: 1.08em;
  padding: 2em;
}

.modal-divider-text {
  display: flex;
  flex-direction: row;
}

.modal-text-buttons {
  padding-top: 1em;
  padding-bottom: 1em;
}

.modal-text-box {
  padding-top:0.5em;
}

.modal-divider-text:before, .modal-divider-text:after{
  content: "";
  flex: 1 1;
  border-bottom: 0.1em solid;
  border-color:#DAE0E6;
  margin: auto 11%;
}

.modal-divider-text:before {
  margin-right: 1.5em;
}

.modal-divider-text:after {
  margin-left: 1.5em;
}

#text-warning, #karma {
  font-weight: bold;
  color:grey;
}

.header-user-profile {
  display: flex;
  max-width: 15em;
  flex-direction: row;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border:0.08em white solid;
}

.header-user-profile:hover {
  border: 0.08em solid #cdd9e3;
  border-radius: 0.2em;
  cursor: pointer;
}

  /* logged in nav bar */

.header-user-profile-icons > ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  gap: 0.75em;
  list-style: none;
}

.popup-buttons > button {
  min-height: 2vw;
}

.header-user-profile-icons > ul > li > img {
  max-height: 1.7em;
}

.header-user-profile-login {
  display: flex;
  flex-direction: row;
  padding-right: 0.5em;
  border:0.08em white solid;
  justify-content: space-between;
}

.header-user-profile-login:hover {
  border: 0.08em solid #cdd9e3;
  border-radius: 0.2em;
  cursor: pointer;
}

.header-user-profile-login-true {
  display: flex;
  flex-direction: row;
  padding-right: 0.5em;
  justify-content: space-between;
  border-top: 0.08em solid #cdd9e3;
  border-left: 0.08em solid #cdd9e3;
  border-right: 0.08em solid #cdd9e3;
  border-radius: 0.2em;
  cursor: pointer;
}

.user-info-name-login {
  display: flex;
  font-weight: bold;
  padding: 0.5em;
}

.drop-login {
  padding-right: 1em;
  display: inline-block;
  vertical-align: top;
  min-width: 15em;
}

.nav-login-left {
  display: flex;
  align-items: center;
  gap: 1em;
  max-width: 31vw;
}

.nav-login-right {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.drop-down-bar-community {
  position: fixed;
  min-width: 15em;
}

.nav-drop-community {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 0.08em solid #cdd9e3;
  border-right: 0.08em solid #cdd9e3;
  border-bottom: 0.08em solid #cdd9e3;
  border-radius: 0.1em;
  font-size: 0.9em;
}

.nav-drop-community > div {
  font-size: 0.7em;
  color: grey;
  padding: 1em;
}

.nav-drop-community > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 57.5vh;
  overflow: scroll;
}

.nav-drop-community > ul > div, .search-bar-items  {
  cursor: pointer;
  padding: 1em;
}

.search-bar-items > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  font-size: 2vh;
}

  /* end of logged in */

.user-info {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  justify-content: center;
  min-width: 12em;
}

.user-drop, .user-drop-left, .community-rules > ol > li > div > p, #adult {
  font-size: 1.2em;
}

.user-info-name {
  display: flex;
  font-weight: bold;
}

.user-info-name > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#nav-bar-image, #community-input-img, .community-info-header-area > img {
  max-width: 2em;
  height: auto;
}

 .profile-avatar > img {
  height: auto;
}

.drop {
  padding-right: 1em;
  display: inline-block;
  vertical-align: top;
}

.nav-drop {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0.08em solid #cdd9e3;
  border-radius: 0.2em;
  font-size: 0.9em;
  min-width: 15em;
}

.nav-drop > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-drop > ul > li {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-drop > ul > li {
  cursor: pointer;
  padding: 0.7em;
}

.drop-down-bar {
  position: fixed;
  padding-top: 0.2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: auto 15%;
}

form > input {
  color: black;
  padding: 0.9em;
  border-radius: 2em;
  border: none;
  background-color: #f5f6f7;
  border: solid;
  border-color: #cdd9e3;
}

.header-login-button {
  color: white;
  padding: 0.7em 2.5em;
  background-color:#2286d2;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.community-post-button {
  color: white;
  background-color:#2286d2;
  padding: 0.7em;
  min-width: 21.5em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.profile-post-button {
  color: white;
  background-color:#2286d2;
  padding: 0.7em;
  min-width: 16em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.header-button {
  display: flex;
  align-items: center;
  padding-right: 1em;
}

.login-button {
  color: white;
  background-color: #e23c00;
  min-width: 22.5em;
  padding: 0.9em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.login-button-false {
  color: white;
  opacity: 0.5;
  background-color: #e23c00;
  min-width: 22.5em;
  padding: 0.9em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  pointer-events: none;
}

.login-button:hover {
  background-color: #e73e00;
}

.forgot-user-links {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

#modal-links-dot {
  color: rgb(0, 123, 255);
  font-size: 0.3em;
}
/* community modal */

.modal-close-community-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.modal-community {  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-text-community {
  border-radius: 0.5em;
  background-color: white;
  color: black;
  margin: 8.5% auto; 
  max-width: 44.5em;
  font-size: 0.7em;
  gap: 1.5em;
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.5);
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.delete-popup {
  border-radius: 0.5em;
  background-color: white;
  color: black;
  margin: 18.5% auto; 
  max-width: 30.5em;
  gap: 1.5em;
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.5);
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.delete-header {
  font-size: 1em;
  font-weight: bolder;
}

.delete-name {
  font-size: 0.8em;
}

.community-name > p, .radios > span, .post-all-author, .input-search-box-header, .community-card-about {
  color: grey;
}

.community-header > span, 
.community-header-name > span, .community-header-radio > span{
  font-size: 1.4em;
  font-weight: bold;
}

.community-header-name {
  padding-bottom: 1em;
}

.community-name > p, #modal-text-span  {
  padding-bottom: 2em;
}

.input-container {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  padding-bottom: 1em;
}

.fix-text {
  font-size: 1.25em;
  position: fixed;
  color: grey;
}

.my-input {
  border: solid rgb(225, 233, 241);
  min-width: 36em;
  margin-left: -0.75em;
  border-radius: 0.5em;
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
}

.input-container-p {
  color: red !important;
}

.input-empty, .password-error-false, .community-button-false, 
.community-post-false, .dropbox-false, .community-rules-false, 
#community-dots-false, .moderators-false, .post-media-false, 
.post-pinned-true, #files {
  display: none;
}

.password-error-true {
  display: inline;
  color: red;
}

.modal-divider-text-community {
  display: flex;
  flex-direction: row;
  content: "";
  border-bottom: 0.1em solid;
  border-color:#DAE0E6;
}

.community-buttons, .popup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.community-create-button {
  color: white;
  background-color:rgb(35, 109, 244);
  padding: 0.5em;
  min-width: 12.5em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.delete-create-button {
  color: white;
  background-color:rgb(35, 109, 244);
  min-width: 12.5em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.delete-cancel-button {
  border: solid rgb(35, 109, 244);
  color: rgb(35, 109, 244);
  background-color: #f5f6f7;
  min-width: 6.5em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

.community-create-button:hover {
  background-color:rgb(53, 118, 237);
}

.community-cancel-button {
  border: solid rgb(35, 109, 244);
  color: rgb(35, 109, 244);
  background-color: #f5f6f7;
  padding: 0.5em;
  min-width: 6.5em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

.community-cancel-button:hover {
  border: solid rgb(35, 109, 244);
  background-color:#eceeef;
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

.radios, .checkbox {
  display: flex;
  gap: 1em;
  align-items: center;
}

#nsfw {
  font-size: 1em;
  font-weight: bold;
  border: solid;
  background-color: rgb(249, 58, 58);
  padding: 0.15em;
  border-radius: 0.3em;
  color: white;
}

/* community modal end */

.community-page, .community-page-logged-out, .community-header {
  display: flex;
  flex-direction: column;
}

.community-page {
  max-width: 100vw;
}

.community-error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.5% auto;
  gap: 1em;
}

.user-error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8.5% auto;
  gap: 1em;
}

.user-error-page > img {
  max-width: 10vw;
}

#error-image {
  max-width: 35vw;
}

.community-header-top {
  cursor: pointer;
  min-height: 4.9em;
  background-color: #33a8ff;
}

.community-header-bottom {
  min-height: 6.25em;
  background-color: white;
}

.community-header-info {
  display: flex;
  flex-direction: column;
  margin: auto 16%;
}

.community-header-info-logged-out {
  display: flex;
  flex-direction: column;
  margin: auto 25%;
}

.community-header-info-title {
  display: flex;
  align-items: center;
  gap: 1em;
}

.community-header-info-title > img {
  max-width: 4em;
}

.community-header-buttons {
  padding-left: 1.5em;
  gap: 0.5em;
  display: flex;
  flex-direction: row;
}

.community-header-buttons > button {
  padding: 0.5em;
}

.community-header-info-subtitle {
  display: flex;
  color: grey;
  margin: auto 5.2em;
}

.community-body {
  padding-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em;
}

.community-body-submit {
  padding-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em;
}

.community-body-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 40vw;
}

.community-body-right {
  max-width: 21.5vw;
  width: 100%;
}

.empty-post {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #eceeef;
}

.empty-post-logged-in, .post-width-empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #eceeef;
}

.empty-post-logged-in > div {
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
}

.post-width-empty > div {
  font-size: 1.2em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40% auto;
}

.empty-post > div {
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25% auto;
}

.post {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0.2em;
  border: 1px solid #cdd9e3;
  cursor: pointer;
  max-height:50vh;
  max-width: 100vw;
}

.post-width {
  display: flex;
  flex-direction: column;
  max-width: 45vw;
}

.post:hover {
  border: 1px solid darkgrey;
}

.post-votes > div, .post-votes-user, .post-votes-joined, .post-votes-all, .post-votes-only {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6em;
  font-size: 0.8em;
  font-weight: bold;
}

.post-detail-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6em;
  font-size: 0.8em;
  font-weight: bold;
}

.post-left {
  background-color:#f5f6f7;
}

.post-right, .post-detail-right {
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  min-width: 36em;
}

.post-right {
  padding-right: 0.5em;
}

.post-detail-right {
  padding-bottom: 0.2em;
  padding-top: 0.5em;
}

.post-right-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.post-pinned-community {
  font-size: 0.75em;
  font-weight: bold;
  cursor: pointer;
}

.post-right > ul, .post-detail-right > ul, .post-detail-left  {
  display: flex;
  flex-direction: row;
}

.post-right > ul > li > a, .profile-post-top  > a, .community-card > a  {
  text-decoration: none;
}

.post-right > ul > li, .post-detail-right > ul > li, .post-detail-votes-logged > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  list-style-type: none;
  font-size: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: grey;
  font-weight: bold;
}

.post-right > ul > li > a {
  color: grey;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.post-detail-right > ul, .post-detail-votes-logged > ul {
  gap: 0.3em;
}

.post-detail-right > ul > div {
  gap: 0.5em;
}

.post-right > a > h3, .post-detail-right > h3, .community-info-home-logged > h4 {
  padding-bottom: 0.5em;
}

.post-right > h3 {
  max-width: 38em;
  font-size: 1em;
}

.post-detail-right > h3 {
  padding-top: 0.5em;
  min-width: 38vw;
  font-size: 1em;
}

.post-votes > div > img, .post-detail-votes > img, .post-votes-user > img, .post-votes-joined > img, 
.post-votes-all > img, .post-votes-only > img {
  max-width: 1.5em;
  cursor: pointer;
}

.post-right > ul > li:hover, .post-detail-right > ul > li:hover, .post-detail-dropbar-user > ul > li:hover  {
  background-color: #dfe5eb;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.post-detail-right > ul > div {
  display: flex;
  align-items: center;
  font-size: 0.7em;
}

.post-media-true {
  display: inline;
  font-size: 0.85em;
  padding-bottom: 0.2em;
  padding-top: 1em;
  overflow: hidden;
  max-width: 40em;
}

.post-detail-media-true {
  display: inline;
  font-size: 0.85em;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 40em;
  word-wrap: break-word;
}

.post-pinned-false {
  padding-bottom: 1em;
  font-size: 0.5em;
  font-weight: bold;
  color: grey;
}

.post-pinned-author {
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  color: grey;
  cursor: pointer;
  gap: 0.3em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.post-detail-pinned-author {
  display: flex;
  font-size: 0.7em;
  color: grey;
  gap: 0.5em;
}

.post-pinned-author > a , 
.post-detail-pinned-author > a, .post-all-community-author > a  {
  text-decoration: none;
  color: grey;
}

.post-pinned-header {
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.community-info, .community-mod, .community-rules {
  background: white;
  border-radius: 0.2em;
  border: 1px solid #cdd9e3;
}

.community-info-home {
  background: white;
  border-radius: 0.2em;
  border: 1px solid #cdd9e3;
}

#arrow {
  font-size: 1em;
}

.community-mod > p {
  font-size: 0.7em;
  max-height: 6em;
  padding: 1em;
}

.community-mod > h5 {
  padding: 1em;
  background-color: #2286d2;
  color: white;
}

.community-info-top, .community-info-text, .community-rules, .dropbox-true, .input-search-box > div {
  padding: 1em;
}

.moderators-true, .community-header-info > div, .user-left, .dropbox-true, .user-right {
  display: flex;
}

.community-info-top {
  background-color: #2286d2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.community-info-top-home > ul > li {
  list-style-type: none;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.community-info-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1em;
}

#community-dots {
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

#community-dots:hover {
  background-color: #dfe5eb;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.community-info-text {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 0.85em;
}

.community-info {
  word-break: break-all;
}

.community-info-header-area {
  min-height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.community-rules > ol {
  font-size: 0.8em;
  padding-left: 1.3em;
}

.community-rules > ol > li > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.list {
  display:flex;
  flex-wrap: wrap;
}

.side-bar-dropbox-true-home {
  display: flex;
  flex-direction: column;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  cursor: pointer;
}

.side-bar-dropbox-true-home:hover, .side-bar-list-top > div:hover, .list-item:hover, .search-bar-items:hover {
  background-color: #f5f6f6;
}

.dropbox-true-home {
  padding-left: 1em;
  padding-bottom: 0.7em;
}

.dropbox-true-home > div {
  font-size: 0.7em;
  margin-right: 2em;
  cursor: pointer;
}

.community-divider-text {
  display: flex;
  flex-direction: row;
  content: "";
  border-bottom: 0.1em solid;
  border-color:#DAE0E6;
  padding-top: 0.7em;
}

.post-divider-text {
  display: flex;
  flex-direction: row;
  align-self: center;
  content: "";
  border-bottom: 0.1em solid;
  border-color:#DAE0E6;
  padding-top: 0.7em;
  min-width: 36em;
}

.community-divider-text-info {
  display: flex;
  flex-direction: row;
  min-width: 18em;
  content: "";
  border-bottom: 0.1em solid;
  border-color:#DAE0E6;
  padding-top: 0.7em;
}

.community-header-divider {
  display: flex;
  flex-direction: row;
  width: 100%;
  content: "";
  border-bottom: 0.08em solid;
  border-color:white;
}

.community-post-divider {
  display: flex;
  flex-direction: row;
  content: "";
  border-bottom: 0.08em solid;
  border-color: rgb(213, 213, 213);
  padding-bottom: 0.8em;
}

.community-filters {
  background-color: white;
}

.community-filters > ul {
  display: flex;
  list-style: none;
  padding: 0.5em;
}

.community-filters > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  color: grey;
  gap: 0.5em;
}

.community-filters > ul > li:hover {
  border-radius: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #eceeef;
}

.community-filters > ul > li > img, .post-detail-right > ul > div > img, .post-right > ul > li > img, 
.post-detail-right > ul > li > img, .post-right > ul > li > a > img,  .search-bar-items > a > img, 
.post-detail-dropbar-user > ul > li > img, .post-detail-votes-logged > ul > li > img {
  max-height: 1.5em;
}

.community-post-true {
  background-color: white;
  padding: 0.7em;
  display: flex;
  justify-content: center;
}

.community-post-true > input {
  padding: 0.5em;
  min-width: 42em;
  border:solid gainsboro;
}

.community-post-true > input:hover {
  border: solid #2286d2;
}

.community-button-true {
  color:white;
  background-color: #2286d2;
  border: none;
  min-width: 8.5em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

.empty-post-add {
  color:white;
  background-color: #2286d2;
  padding: 1em 1.5em 1em 1.5em;
  border: none;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

.empty-post-discover > p {
  margin: auto 10%;
  font-weight: bolder;
}

.empty-post-discover-add {
  color:white;
  background-color: #2286d2;
  border: none;
  padding: 1em 1.5em 1em 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.empty-post-discover > img {
  max-height: 15em;
}

.community-button-true-joined:hover {
  background-color:#f1f4f7;
}

.community-button-true-joined {
  color:#2286d2;
  border: solid #2286d2;
  background-color: white;
  min-width: 8.5em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

.community-info-home-logged {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.community-info-home-logged > ol {
  padding-left: 1em;
  font-size: 0.9em;
}

.community-info-home-logged > ol > li {
  padding-top: 1em;
}

#mod-home {
  font-size: 0.7em;
}

.top-button, .community-divide {
  display: flex;
  justify-content: center;
}

.back-to-top {
  color: white;
  background-color:#2286d2;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  bottom: 1em;
}

.community-post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#community-draft {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 0.7em;
  color: #2286d2;
  font-weight: bold;
  cursor: pointer;
  background-color: #DAE0E6;
  border-radius: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#community-draft:hover {
  background-color: rgb(191, 191, 191);
}

#community-draft > div {
  padding: 0.2em;
  color: white;
  font-weight: 100;
  background-color: grey;
}

.community-post {
  background-color: white;
}

.community-post > form, .community-post-section > form  {
  margin: 0;
}

.community-post-options > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  border-bottom: solid rgb(213, 213, 213);
}

.community-post-options > ul > li {
  padding: 1em;
  width: 100%;
  color: grey;
  cursor: pointer;
}

.community-post-options > ul > li:hover {
  background-color: rgb(235, 242, 247);
}

.community-post-section {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  gap: 0.5em;
}

.community-post-title {
  display: flex;
  flex-direction: column;
  min-width: 38em;
  align-items: center;
  gap: 0.5em;
}

.community-post-title > input {
  border: solid rgb(213, 213, 213);
}

#community-post-inputs {
  min-width: 43.5em;
  padding: 1em;
  border-radius: 0.3em;
}

#community-post-inputs:focus {
  border-color: rgb(63, 63, 63);
}

.community-post-buttons {
  display: flex;
  gap: 1em;
  flex-direction: row;
  padding-top: 1.5em;
  justify-content: flex-end;
}

.community-post-button-section {
  padding-top: 1.5em;
  display: flex;
  flex-direction: column;
}

#community-save-button {
  color:#2286d2;
  background-color: white;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 2em;
  border: solid #2286d2;
  font-weight: bold;
  cursor: pointer;
}

#community-save-button:hover, .nav-drop > ul > li:hover,  .nav-drop-community > ul > div:hover {
  background-color: #f5f6f7;
}

#community-post-button:hover, .community-post-button:hover, .header-login-button:hover {
  background-color:#3e91d1;
}

#community-post-button {
  color: white;
  background-color: #2286d2;
  padding: 0.5em 3em 0.5em 3em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#community-post-button-black {
  color: white;
  background-color: #666;
  border: 1px solid #666;
  padding: 0.5em 3em 0.5em 3em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  pointer-events: none;
}

#community-create-button {
  color:#2286d2;
  background-color: white;
  border: solid #2286d2;
  padding: 0.5em 5.5em 0.5em 5.5em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

#community-create-button:hover {
  background-color:#f1f4f7;
}

.community-info-buttons {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.community-post-bottom {
  min-height: 3.5em;
  background-color: #eceeef;
}

.logo {
  display: flex;
  padding-left: 1em;
  height: 2.5em;
  gap: 0.5em;
  align-items: center;
  color: black;
  font-size: 1.2em;
}

#freddit-logo {
  max-width: 2em;
}

.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 18vw;
  background-color: white;
  border-top: solid #eceeef;
}

.side-bar-top {
  display: flex;
  max-height: 28em;
  flex-direction: column;
  overflow: scroll;
}

.side-bar-text {
  padding: 1.2em;
  font-size: 0.9em;
}

.community-body-logged-out {
  padding-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 7%; 
  gap: 1.5em;
}

.community-body-left-logged-out {
  display: flex;
  flex-direction: column;
  max-width: 43vw;
  width: 100%;
  gap: 1em;
}

.community-body-right-logged-out {
  max-width: 21.5vw;
  width: 100%;
}

.side-bar-divider {
  display: flex;
  flex-direction: row;
  width: 90%;
  content: "";
  border-bottom: 0.1em solid;
  border-color:#DAE0E6;
  padding-top: 0.7em;
}

.join-button {
  color: white;
  background-color:#2286d2;
  padding: 1em 5em 1em 5em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.side-bar-list > li {
  padding-bottom: 0.5em;
  list-style: none;
}

.side-bar-list-top, .side-bar-list-bottom {
  padding: 0.5em;
  font-size: 0.9em;
}

.side-bar-list-top > div {
  padding-bottom: 0.5em;
  padding: 1.2em;
  cursor: pointer;
}

.side-bar-list-top > h6 {
  padding: 1.2em;
  padding-bottom: 1em;
  color: grey;
}

.list-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.2em;
}

.side-bar-list-item {
  display: flex;
  flex-direction: column;
}

.post-detail-drop {
  margin-top: 1%;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: grey;
  list-style: none;
  border: solid gainsboro;
  min-width: 10em;
  padding: 0.5em;
  gap: 0.75em;
  background-color: white;
}

.post-detail-dropbar > ul, .post-detail-dropbar-user > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1em;
  font-weight: bold;
  color: grey;
}

.post-detail-dropbar-user > ul > li {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  align-items: center;
}

.post-detail-dropbar-comment > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-weight: bold;
  color: grey;
}

#post-detail-selected {
  color: rgb(0, 123, 255);
}

.side-bar-dropbox-list {
  padding-left: 3em;
}

.editor-container {
  width: 100%;
}

#editor-container {
  height: 10em;
  padding-bottom: 2em;
}

.editor-container-two-button {
  display: flex;
  justify-content: flex-end;
}

#editor-container-two {
  height: 100%;
  min-width: 42em;
  padding-bottom: 1em;
}

.comment-as-user {
  font-size: 0.7em;
}

.comment-user {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#editor-container-comment {
  display: flex;
  flex-direction: column-reverse; 
  min-height: 10em;
  margin: auto;
  min-width: 35em;
  border-top: solid rgb(213, 213, 213);
}

#editor-container-comment-edit {
  display: flex;
  flex-direction: column-reverse; 
  margin: auto;
  min-width: 35em;
  border-top: solid rgb(213, 213, 213);
}

#editor-container-comment > div, #editor-container-comment-edit > div, #editor-container-two > div {
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
}

.editor-container-link > input:focus {
  border-radius: 0.3em;
  outline: none !important;
  border-color: rgb(63, 63, 63);
}

.editor-container-image {
  border: dotted rgb(191, 191, 191);
  min-width: 38em;
  min-height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor-container-link  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editor-container-link > input {
  padding-left: 1em;
  border-radius: 0.3em;
  border: solid rgb(213, 213, 213);
  min-width: 44.5em;
  min-height: 2em;
}

.btn {
  border: solid #2286d2;
  background-color: white;
  color: #2286d2;
  font-size: 0.9em;
  border-radius: 2em;
  display: inline-block;
  padding: 0.5em 1.5em;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(240, 239, 239);
}

.inputs-poll {
  display: flex;
  flex-direction: column;
  min-width: 30em;
  gap: 1em;
}

.inputs-poll > input {
  max-width: 32em;
  padding: 0.5em;
}

.inputs-poll-section {
  padding-top: 2.5em;
  display: flex;
  flex-direction: row;
}

.inputs-poll-tips {
  font-size: 0.7em;
}

.policy-section {
  top: 0;
  position: sticky;
  display: flex;
  font-size: 0.8em;
  color: grey;
  flex-direction: column;
  margin-left: 1em;
  gap: 1em;
  margin-right: 1em;
}

.policy-section-true {
  top: 0;
  position: sticky;
  display: flex;
  font-size: 0.8em;
  color: black;
  border-radius: 0.2em;
  border-color: solid 2px #eceeef;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  background-color: white;
}

.policy-bar-divider-true {
  display: flex;
  flex-direction: row;
  width: 100%;
  content: "";
  border-bottom: 0.05em solid;
  border-color: #cdd9e3;
}

.policy-top, .policy-top-true {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2em;
}

.community-rules > ol > li, .header-user-profile-icons > ul > li, .profile-post-bottom > div > ul > li, 
.profile-post-poster, .profile-page > ul > li, .post-detail-dropbar-comment > ul > li, .post-detail-dropbar-user > ul > li, 
.post-detail-right > ul > li {
  cursor: pointer;
}

.profile-post-bottom > div > ul > li {
  font-weight: bold;
  color: grey;
}

.profile-post-bottom > div > ul > li:hover, .post-detail-dropbar > ul > li:hover {
  color: black;
  text-decoration: underline;
}

.policy-top-true > div > ul, .policy-top > div > ul {
  list-style: none;
  cursor: pointer;
}

.policy-bar-divider {
  display: flex;
  flex-direction: row;
  width: 100%;
  content: "";
  border-bottom: 0.05em solid;
  border-color: white;
}

.policy-left > ul > li , .policy-right > ul > li {
  padding: 0.2em
}

.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 0.1px rgb(191, 191, 191);
  min-height: 2.5em;
  background-color: white;
}

.profile-page > ul {
  display: flex;
  flex-direction: row;
  font-size: 0.65em;
  gap: 2em;
  list-style: none;
  font-weight: bold;
}

.profile-info-top {
  padding: 1em;
  min-height: 3.5em;
  background-color: #33a8ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.profile-info-text {
  padding: 1em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  text-align: center;
}

.profile-info-subtext {
  display: flex;
  font-size: 0.8em;
  gap: 6.5vw;
  text-align: start;
}

.avatar-button {
  color: white;
  background-color:#FF4300;
  padding: 0.75em 0.5em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.subtext-bold {
  font-weight: bold;
}

.search-btn {
  border: solid #2286d2;
  background-color: white;
  color: #2286d2;
  font-size: 0.9em;
  border-radius: 2em;
  padding: 0.2em 0.5em;
  cursor: pointer;
  left: 27%;
  position: absolute;
}

.community-user-button {
  color: white;
  background-color:#2286d2;
  padding: 0.75em 2em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.create-button {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 1em;
}

.profile-avatar {
  position: relative;
  display: flex;
  justify-content: center;
}

.profile-avatar > img {
  max-width: 10em;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.profile-post-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: grey;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  border: 1px solid #cdd9e3;
  font-size: 0.8em;
  gap: 0.5em;
  padding: 1em;
  cursor: pointer;
}

.profile-post-username {
  color: #2286d2;
  cursor: pointer;
}

.profile-post-community-name, .post-all-community > a, .community-card-title {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.profile-post-poster-information {
  display: flex;
  flex-direction: row;
  color: grey;
  gap: 0.5em;
  font-size: 0.8em;
}

.profile-post-title {
  cursor: pointer;
  color: black;
}

.profile-post-title:hover, .profile-post-poster-information > div > a:hover, .post-all-community-author > a:hover, .community-card-title:hover,
.profile-post-poster:hover, .profile-post-username:hover, .profile-post-community-name:hover, .dropbox-true-home > div:hover, .post-pinned-author > a:hover, .post-detail-pinned-author > a:hover, 
.post-pinned-community > a:hover, .comment-left-username > a:hover, .post-all-community > a:hover, .comment-as-user > a:hover  {
  text-decoration: underline;
}

.profile-post-bottom {
  display: flex;
  flex-direction: column;
  border-top: 1px solid white;
  border-left: 1px solid #cdd9e3;
  border-right: 1px solid #cdd9e3;
  border-bottom: 1px solid #cdd9e3;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  padding-left: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.profile-post-bottom > div { 
  background-color: rgb(232, 238, 244);
  margin: auto 2%;
  padding: 0.4em;
  cursor: pointer;
  text-decoration: none;
}

.profile-post-bottom > div > a, .post-all-community > a, .profile-post-poster-information > div > a {
  text-decoration: none;
  color: black;
}

.comment-as-user > a {
  text-decoration: none;
  color: rgb(0, 123, 255);
}

.profile-post-bottom > div > a > div {
  font-size: 0.9em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.profile-post-top:hover, .profile-post-bottom:hover {
  border: 1px solid grey;
}

.profile-post-bottom  > div > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1em;
  font-size: 0.8em;
}

.profile-post {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.2em;
  max-width: 40em;
}

.profile-post-title > a, .profile-post-community-name > a, .profile-post-poster > a, 
.community-info-header-area > a, .post-right > div > a, .post-right > a, h3 > a, .post-pinned-community > a, 
.comment-left-username > a  {
  text-decoration: none;
  color: black
}

.post-detail {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.verticalLine {
  border-left: solid black;
}

.post-detail-upper {
  display: flex;
  background-color: white;
  flex-direction: row;
  border-radius: 0.2em;
  border: 1px solid #cdd9e3;
}

.profile-post-text {
  overflow: hidden;
  word-wrap: break-word;
}

.post-detail-lower {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.2em;
  border: 1px solid #cdd9e3;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.post-detail-lower > div, .post-divider-text > div {
  padding-bottom: 0.75em;
}

#custom-button {
  font-weight: bold;
  color: white;
  background-color: #2286d2;
  border-radius: 1em;
  border: 1px solid #2286d2;
  min-width: 8em;
}

#custom-button-black {
  font-weight: bold;
  color: black;
  background-color: #666;
  border-radius: 1em;
  border: 1px solid #666;
  min-width: 8em;
  pointer-events: none;
}

#custom-button:hover, .community-user-button:hover, .join-button:hover, .back-to-top:hover, .empty-post-discover-add:hover, .empty-post-add:hover, 
.community-button-true:hover {
  background-color: #3e91d1;
}

.post-divider-text > div {
  font-size: 0.7em;
  font-weight: bold;
  color: rgb(0, 123, 255);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.comment {
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  gap: 0.5em;
  padding-left: 0.5em;
  word-break: break-word;
}

.comment-left, .side-bar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr.vertical {
  width: 0px;
  height: 100%;
}

hr.vertical:hover {
  border: 1px solid #33a8ff;
}

.comment-right, .community-info-bar, .community-header-radio, .community-filter {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.comment-right > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 0.1em;
}

.comment-right > ul > li > div, .post-detail-dropbar-comment > ul > li {
  display: flex;
  flex-direction: row;
  gap: 0.1em;
  padding: 0.3em;
  cursor: pointer;
  color: grey;
  font-size: 0.8em;
  font-weight: bold;
  gap: 0.3em;
}

.comment-right > ul > li > div > img {
  max-height: 1.3em;
}

.comment-votes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  gap: 0.2em;
  font-weight: bold;
}

.comment-votes > img {
  max-height: 1.5em;
  cursor: pointer;
  padding: 0.1em;
}

.comment-votes > img:hover, .comment-right > ul > li > div:hover, .post-votes > div > img:hover, 
.post-votes-user > img:hover, .post-votes-joined > img:hover, .post-votes-all > img:hover, 
.post-detail-votes > img:hover, .post-detail-dropbar-comment > ul > li:hover, .post-votes-only > img:hover {
  background-color: #dfe5eb;
} 

.post-detail-right > ul, .post-detail-votes-logged > ul {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: grey;
  padding-bottom: 0.5em;
}

.comment-left-username {
  font-weight: bold;
  font-size: 0.7em;
  padding-top: 1em;
  cursor: pointer;
}

.comment-right-text, .user-info-name-login > p, .community-info-home-logged-text {
  font-size: 0.8em;
}

.comment-right-text {
  word-break: break-word;
  margin-right: 4em;
}

.comment-left > a > img {
  cursor: pointer;
  max-height: 2em;
}

.post-detail-media-true > ul, .post-detail-media-true > ol,
.post-media-true > ul, .post-media-true > ol {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  padding-left: 2.5em !important;
} 

.empty-comment {
  min-height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.empty-comment > h3, .empty-comment > div {
  color: rgb(193, 191, 191);
}

.input-search-box {
  position: absolute;
  background-color: white;
  min-width: 27vw;
  max-height: 60vh;
  overflow: scroll;
}

#nav-bar-input {
  border-radius: 2em;
  min-width: 25vw;
  background-color:#f5f6f7;
  border: solid rgb(240, 239, 239);
  padding: 1em;
}

.search-bar-drop {
  width: 100%;
}

#nav-bar-input:hover {
  border: solid #2286d2;
}

#nav-bar-input:focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#nav-bar-input-post {
  border: solid rgb(240, 239, 239);
  padding: 0.75em;
  min-width: 20em;
}

.input-search-box-post {
  position: absolute;
  z-index: 1;
  background-color: white;
  min-width: 20vw;
  max-height: 40vh;
  overflow: scroll;
}

.input-search-box-post > div {
  padding: 1em;
  font-size: 0.8em;
  font-weight: bold;
}

.community-info-input {
  display: flex;
  flex-direction: column;
  border: solid black;
  padding: 0.5em;
}

.community-info-input > input, .community-info-input > input:hover, .community-info-input > input:focus {
  border: none;
  outline: none;
}

.community-info-input > div {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.community-info-input > div > button {
  border: none;
  background-color: white;
  font-weight: bold;
}

.community-info-information {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.community-info-information > img {
  max-height: 1.2em;
  cursor: pointer;
}

.search-page-logged-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 18vw;
  padding-top: 5vh;
  gap: 0.1em;
}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  gap: 0.1em;
}

.community-card-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  padding: 1vw 3vw;
}

.community-card {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0.3em;
  min-height: 5vh;
  width: 65.5vw;
  border: solid rgb(191, 191, 191) 1px;
  padding: 1vw;
  font-size: 2vh;
  gap: 0.5em;
  justify-content: space-between;
}

.community-card-information {
  min-height: 5vh;
  max-width: 53.5vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.community-card-logo > img {
  max-height: 4.5vh;
}

.community-card-join > button {
  color:#2286d2;
  background-color: #f5f6f7;
  border: solid #f5f6f7;
  padding: 0.5em 2em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

.community-card-join > button:hover {
  background-color: #dfe8f1;
}

.header-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  font-size: 1.7vh;
}

.header-item > img {
  max-height: 1.7vw;
}

@media screen and (max-width: 1000px) {

body {
  background-color: white;
  padding-top: 3.5em;
  max-width: 100vw;
}

.body {
  background-color: #DAE0E6;
  min-height: 100vh;
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: rgb(57, 57, 57);
  display: flex;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
}

.logo {
  display: flex;
  padding-left: 0em;
  max-width: 1em;
  height: auto;
  gap: 0.3em;
  align-items: center;
  color: black;
}

.header-button {
  display: flex;
  align-items: center;
  padding-right: 1vh;
}

.header-login-button {
  font-size: 1.2vh;
  color: white;
  background-color:#e23c00;
  padding: 0.8em 2em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.header-login-button-mobile {
  font-size: 1.2vh;
  color: white;
  background-color:#2286d2;
  padding: 0.7em 16em;
  border-radius: 2vh;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.nav-bar-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.5em;
}

#nav-bar-input {
  border-radius: 2em;
  padding: 1vh 25.5vw;
  background-color:#a5acb9;
  border: none;
}

.nav-bar-mobile-drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  z-index: 1;
  background-color: rgb(89, 91, 96);
  padding-top: 1em;
  padding-bottom: 1em;
  left: 0;
  top: 3.5em;
  justify-content: space-between;
  vertical-align: top;
  position: absolute;
}

.nav-bar-mobile > div > img, .header-mobile-icons > div > img  {
  max-height: 4vh;
}

.input-search-box {
  position: absolute;
  background-color: lightgrey;
  min-width: 94.5vw;
  max-height: 15vh;
  overflow: scroll;
  border-radius: 1vw;
}

.input-search-box > div {
  padding: 0.5em;
}

.search-bar-items > a {
  display: flex;
  flex-direction: row;  
  align-items: center;
  gap: 0.5em;
  font-size: 1.5vh;
}

.nav-bar-mobile-drop > ul {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 1em;
  gap: 0.2em;
}

.nav-bar-mobile-drop > ul > li {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  font-weight: bold;
  font-size: 1.5vh;
  align-items: center;
  gap: 0.7em;
}

.nav-bar-mobile-drop > ul > li > img {
  max-height: 3vh;
}

.community-page-mobile {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #dfe5eb;
}

.community-body {
  padding-top: 0vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.community-body-left {
  display: flex;
  flex-direction: column;
  padding-top: 0.3vh;
  gap: 0.3vh;
  max-width: 100vw;
}

.community-body-left-mobile {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  gap: 0.7em;
  background-color: #dfe5eb;
}

.community-page-mobile > img {
  position: absolute;
  max-height: 7vh;
  margin: 9% 42.5%;
}

.community-header-top {
  cursor: pointer;
  min-height: 7.5vh;
  background-color: #33a8ff;
}

.community-mobile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 22vh;
  background-color: white;
}

.community-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8.5% auto;
  gap: 0.5vh;
}

.community-header-info-title > h1 {
  font-size: 1.2em;
}

.community-header-info-subtitle {
  display: flex;
  color: grey;
  font-size: 1.3vh;
}

.community-header-info-about {
  display: flex;
  color: grey;
  font-size: 1.3vh;
}

.community-header-mobile-button > button {
  padding: 1.5vw 35vw;
}

.community-header-info-about {
  max-height: 5vh;
  overflow: scroll;
  padding-left: 3vh;
  padding-right: 3vh;
}

.community-body-mobile-top {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 2.5vh 1vh;
  font-size: 2.5vh;
  background-color: white;
}

.post-all-community {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7vh;
  font-size: 1.2vh;
}

.post-all-community > img {
  max-width: 2.5vh;
}

.post {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0em;
  border-top: 1px solid #cdd9e3;
  border-bottom: 1px solid #cdd9e3;
  border-left: none;
  border-right: none;
  cursor: pointer;
  max-height: 25vh;
  overflow: hidden;
}

.post-media-true {
  display: inline;
  font-size: 0.85em;
  padding-bottom: 0.2em;
  padding-top: 1em;
  overflow: hidden;
  width: 100%;
}

.post-pinned-author {
  align-items: center;
  font-size: 1.5vh;
}

.post-pinned-author > img {
  max-width: 2.5vh;
}

.post-mobile {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  padding-right: 5vw;
}

.post-mobile > a {
  font-size: 0.7em;
  padding-right: 1vw;
  max-width: 100vw;
}

.post-mobile > p {
  align-self: center;
  font-size: 0em;
}

.post-mobile > p > img {
  max-width: 10vw;
}

.post-right {
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-width: 90vw;
}

.post-right-logged {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.profile-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: black;
}

.profile-avatar > img {
  max-width: 8vh;
}

.community-info {
  border: none;
  border-radius: 0;
  background-color: black;
  color: white;
}

.profile-info-text {
  padding: 0em;
}

.create-button {
  padding-bottom: 0em;
}

.profile-info-text > h3 {
  font-size: 1.5vh;
}

.profile-info-subtext {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  gap: 5vw;
  align-items: center;
  justify-content: center;
}

.community-user-button {
  color: white;
  background-color:#2286d2;
  padding: 0.5em 5em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  padding: 1em;
  height: 0em;
  background-color: black;
  color: white;
}

.profile-page > ul {
  display: flex;
  flex-direction: row;
  font-size: 1.4vh;
  gap: 2em;
  list-style: none;
  font-weight: bold;
}

.profile-post-mobile {
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 0em;
  border: none;
  cursor: pointer;
  max-width: 100vw;
  padding: 0.7em;
}

.post-right-mobile {
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  color: white;
  gap: 0.5em;
}

.post-right-mobile > ul {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.post-right-mobile > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  list-style-type: none;
  font-size: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  font-weight: bold;
  border: rgb(79, 79, 79) solid 1px;
  border-radius: 1em;
}

.post-right-mobile > ul > li > img {
  max-height: 2vh;
}

.post-pinned-community-mobile, .post-pinned-community-mobile-logged {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
  font-size: 1.2vh;
  color: grey;
}

.post-pinned-community-mobile > a  {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3vh;
}

.post-pinned-community-mobile-logged > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.3vh;
}

.post-pinned-header-mobile > a {
  text-decoration: none;
  font-size: 1.5vh;
  color: white;
}

.profile-post-community-name {
  display: flex;
  gap: 1vh;
  font-size: 1.3vh;
  color: grey;
  font-weight: 100;
}

.profile-post-community-name > a {
  color: white;
  text-decoration: none;
}

.profile-post {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 0em;
  max-width: 100vw;
  padding: 1em;
  gap: 0.3em;
}

.profile-post-bottom {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 0em;
  padding: 0em;
}

.profile-post-bottom > div { 
  background-color: black;
  color: white;
  margin: 0;
  padding: 0em;
  cursor: pointer;
  text-decoration: none;
}

.profile-post-bottom > div > ul > li > img, .profile-post-community-name > img, .post-pinned-community-mobile > img,
.post-pinned-community-mobile-logged > img, .profile-post-community-name-logged > img {
  max-height: 1.7vh;
}

.profile-post-title > a {
  cursor: pointer;
  color: grey;
}

.profile-post-text {
  overflow: hidden;
  word-wrap: break-word;
  color: white;
}

.post-detail-right-header {
  display: flex;
  flex-direction: row;
  gap: 0.4em;
}

.post-detail-right-header > img {
  max-height: 3.5vh;
}

.post-detail-upper {
  background-color: black;
  color:white;
  border: none;
  border-radius: 0em;
}

.post-detail-media-true {
  color: rgb(204, 202, 202);
}

.post-detail-pinned-author, .post-pinned-header-mobile-title > a {
  color: white;
}

.post-detail-pinned-author {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-pinned-header-mobile-title-logged > a {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

.post-pinned-header-mobile-title > a {
  text-decoration: none;
  font-size: 0.8em;
}

.post-detail-pinned-author > a, .post-detail-right-community, .comment-right > ul > li > div, .post-pinned-header-mobile > a {
  color: rgb(204, 202, 202);
}

.post-detail-right-community {
  font-weight: bold;
  font-size: 1.4vh;
}

.post-detail-right > ul > li, .post-detail-right > ul, .post-detail-dropbar-user > ul {
  color: white;
}

.post-detail-right > ul > div {
  padding: 1em;
}

.post-detail-right > ul > li, .post-detail-votes-logged > ul > li {
  background-color: rgb(89, 91, 96);
  border-radius: 1.5em;
}

.post-detail {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  gap: 0em;
}

.post-detail-lower {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  border-radius: 0em;
  border: none;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  min-height: 60vh;
}

.comment-left-username > a {
  color: white;
}

.post-drop-left {
  font-size: 1.5vh;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.post-detail-drop {
  background-color: black;
  color: rgb(204, 202, 202);
  font-size: 1.5vh;
}

#post-detail-selected, .profile-post-community-name > a {
  color: white;
  font-weight: bold;
}

.post-detail-right > h3 {
  max-width: 90vw;
}

.post-detail-media-true > p > img, .post-media-true > a > p > img {
  max-width: 90vw;
}

.post-media-true-mobile > a > p > img {
  max-width: 90vw;
}

.post-media-true-mobile {
  display: flex;
  align-self: center;
}

.post-media-true > a {
  text-decoration: none;
  color: white;
}

.post-media-true-mobile > a > p {
  font-size: 0em;
}

.post-width-empty {
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  text-align: center;
  background-color: black;
}

.post-width {
  max-width: 100vw;
}

.post-right-mobile > ul > li > a{
  display: flex;
  align-self: center;
  gap: 0.5em;
}

.post-right-mobile > ul > li > a {
  text-decoration: none;
  color: white;
}

.post-right-mobile > ul > li > a > img {
  max-height: 2vh;
}

.header-login-button:hover {
  background-color:#e23c00;
}

.modal-text-top, .modal-text-box, .modal-links-signup, .forgot-user-links {
  font-size: 0.7em;
}

.modal-arrow-div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.header-mobile-icons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding-right: 0.5em;
}

#freddit {
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}

.profile-post-mobile-logged {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0em;
  border: none;
  cursor: pointer;
  max-width: 100vw;
  padding: 0.7em;
  border-top: 0.5px solid gainsboro;
  border-bottom: 0.5px solid gainsboro;
}

.profile-post-logged-mobile-logged {
  display: flex;
  flex-direction: column;
  border: 0;
  border-radius: 0em;
  max-width: 100vw;
  padding: 1em;
  gap: 0.3em;
  background-color: black;
}

.profile-post-logged-mobile {
  display: flex;
  flex-direction: column;
  border: 0.3px solid grey;
  border-radius: 0em;
  max-width: 100vw;
  padding: 1em;
  gap: 0.3em;
  background-color: white;
}

.profile-post-community-name-logged > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.profile-post-community-name-logged {
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  gap: 1vh;
  font-size: 1.3vh;
  color: grey;
  font-weight: 100;
}

.profile-post-bottom-logged > div {
  background-color: white;
  margin: 0;
  padding: 0.4em;
  cursor: pointer;
  text-decoration: none;
}

.profile-post-bottom-logged > div > ul > li {
  font-weight: bold;
  color: grey;
}

.profile-post-bottom-logged {
  text-decoration: none;
  color: black;
}

.profile-post-bottom-logged > div > a > div {
  font-size: 0.9em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.profile-post-bottom-logged > div > a {
  text-decoration: none;
}

.profile-post-bottom-logged  > div > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1em;
  font-size: 0.8em;
}

.profile-post-text-logged {
  overflow: hidden;
  word-wrap: break-word;
  color: black;
}

.profile-post-title-logged > a {
  text-decoration: none;
  color: grey;
}

.post-right-mobile > ul > li {
  border: 1px solid gainsboro;
}

.post-right > ul {
  gap: 0.5em;
}

.post-right > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  list-style-type: none;
  font-size: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: grey;
  font-weight: bold;
  border: 1px solid gainsboro;
  border-radius: 2em;
}

.mobile-editor {
  padding: 1em;
}

.post-detail-mobile-logged {
  align-self: center;
  position: absolute;
  margin: 2em;
  font-weight: bold;
}

.post-detail-icon {
  display: flex;
  flex-direction: column;
}

.post-detail-icon > img {
  height: 3em;
  align-self: center;
  position: absolute;
  margin: -1em;
}

.empty-post > div {
  background-color: white;
  width: 100%;
  height: 50vh;
  margin: 0;
  display: flex;
}

.empty-post > div > img {
  height: 5em;
  margin: 35%;
}

.user-error-page {
  text-align: center;
}

.community-error-page {
  margin: 25% auto;
}

.header-user-profile-login-true {
  display: flex;
  flex-direction: row;
  padding-right: 0.5em;
  justify-content: space-between;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

.drop-down-bar-community {
  position: fixed;
  width: 15em;
}

.nav-drop-community {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
  border-radius: none;
  font-size: 0.9em;
  max-height: 20vh;
}

.nav-drop-community > div {
  font-size: 0em;
  color: grey;
  padding: 1em;
}

.nav-drop-community > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: rgb(89, 91, 96);
  width: 31em;
  /*max-height: 10.5vh;
  overflow: scroll;*/
}

.nav-drop-community > ul > div {
  cursor: pointer;
  color: white;
  padding: 0.5em;
}

.nav-drop-community > ul > div > a {
  color: white;
}

.header-item {
  font-size: 1.3vh;
}

.header-item > img {
  height: 2vh;
}

.community-post-section {
  padding-left: 0em;
  padding-right: 0em;
}

.community-post-title {
  min-width: 0;
}

#community-post-inputs {
  padding-top: 1vw;
  padding-bottom: 1vw;
  min-width: 90vw;
  align-self: flex-start;
  border-radius: 0.3em;
}

.editor-container {
  max-width: 0vw;
  align-self: flex-start;
}

#editor-container-two {
  min-height: 10vh;
  min-width: 50vw;
  padding-bottom: 1em;
}

#editor-container-three {
  width: 98%;
}

.search-page {
  padding-top: 0vh;
  gap: 0.0em;
}

.community-card-left {
  gap: 0.5em;
}

.community-card {
  min-width: 90vw;
  border: none;
  padding: 0.3em;
  font-size: 2vh;
}

.community-card-logo > img {
  max-height: 3vh;
}

.community-card-join > button {
  color:#f5f6f7;
  background-color: #2286d2;
  border: none;
  padding: 0.3em 0.5em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

.community-card-title {
  color: black;
  font-weight: 100;
  font-size: 1.7vh;
}

.community-post-true > input {
  min-width: 80vw;
}

.community-card-logged-out > a  {
  text-decoration: none;
}

.community-card-logged-out {
  min-width: 100vw;
  font-size: 2vh;
}

.post-detail-right {
  min-width: 95vw;
}

.community-card-about {
  font-size: 0.8em;
}

}