* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #DAE0E6;
  min-height: 400vh;
  padding-top: 3.5em;
}

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 3.5em;
    align-items: center;
    justify-content: space-between;
}

.nav-bar > input {
    border-radius: 2em;
    height: 70%;
    width: 50%;
    background-color:#f5f6f7;
    border: solid rgb(240, 239, 239);
}

.nav-bar > input:hover {
  border: solid #2286d2;
}

.nav-bar > span {
    padding-left: 1em;
}

#nav-bar-input {
    padding: 1em;
}

#nav-bar-input-login {
  padding: 1em;
  width: 35%;
}

.modal {  
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-text {
    border-radius: 1em;
    background-color: white;
    color: black;
    margin: 2.7% auto; /* 15% from the top and centered */
    height: 57em;
    width: 36em; /* Could be more or less, depending on screen size */
    font-size: 0.7em;
    gap: 1.5em;
    box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.modal-pop-ups {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
}

.modal-text-top {
    display: flex;
    flex-direction: column;
    margin: auto 15%;
}

.modal-text-top > span {
    gap: 1em;
}

#modal-text-header {
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 0.5em;
}

#modal-text-agreement {
    padding-bottom: 3em;
}

.modal-close-div {
    display: flex;
    flex-direction: row-reverse;
}

#modal-text-span {
    padding-bottom: 2em;
}

.modal-arrow-div {
    display: flex;
    padding-bottom: 5em;
}

#modal-close-button {
    cursor: pointer;
    color: grey;
    font-size: 1.5em;
    padding: 0.7em;
}

#modal-arrow-button {
    cursor: pointer;
    color: grey;
    font-size: 2em;
}

.modal-links {
    cursor: pointer;
    color: rgb(0, 123, 255);
    font-weight: bold;
    text-decoration: underline;
}

.modal-sign-in {
    cursor: pointer;
    width: 100%;
    padding: 0.9em;
    border-radius: 2em;
    border: solid;
    background-color: white;
    border-color: #DAE0E6;
}

.modal-sign-in:hover {
    background-color:rgb(243, 249, 255);
}

.modal-divider {
    text-align: center;
    color: grey;
    font-weight: bold;
    font-size: 1.08em;
    padding: 2em;
}

.modal-divider-text {
    display: flex;
    flex-direction: row;
}

.modal-text-buttons {
    padding-top: 1em;
    padding-bottom: 1em;
}

.modal-text-box {
    padding-top:0.5em;
}

.modal-divider-text:before, .modal-divider-text:after{
    content: "";
    flex: 1 1;
    border-bottom: 0.1em solid;
    border-color:#DAE0E6;
    margin: auto 11%;
  }
  .modal-divider-text:before {
    margin-right: 1.5em;
  }
  .modal-divider-text:after {
    margin-left: 1.5em;
  }

  #text-warning {
    font-weight: bold;
    color:grey;
  }

  .header-user-profile {
    display: flex;
    flex-direction: row;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border:0.08em white solid;
  }

  .header-user-profile:hover {
    border: 0.08em solid #cdd9e3;
    border-radius: 0.2em;
    cursor: pointer;
  }

  /* logged in nav bar */

  .header-user-profile-login {
    display: flex;
    flex-direction: row;
    padding-right: 0.5em;
    border:0.08em white solid;
    justify-content: space-between;
  }

  .header-user-profile-login:hover {
    border: 0.08em solid #cdd9e3;
    border-radius: 0.2em;
    cursor: pointer;
  }

  .header-user-profile-login-true {
    display: flex;
    flex-direction: row;
    padding-right: 0.5em;
    justify-content: space-between;
    border-top: 0.08em solid #cdd9e3;
    border-left: 0.08em solid #cdd9e3;
    border-right: 0.08em solid #cdd9e3;
    border-radius: 0.2em;
    cursor: pointer;
  }

  .user-info-name-login {
    display: flex;
    font-weight: bold;
    padding: 0.5em;
  }

  .user-left {
    display: flex;
  }

  .drop-login {
    padding-right: 1em;
    display: inline-block;
    vertical-align: top;
    width: 15em;
  }

  .nav-login-left {
    display: flex;
    padding-left: 1em;
    align-items: center;
    gap: 2em;
  }

  .user-drop-left {
    font-size: 1.2em;
  }

  .drop-down-bar-community {
    position: fixed;
    width:15em;
  }

  .nav-drop-community {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 0.08em solid #cdd9e3;
    border-right: 0.08em solid #cdd9e3;
    border-bottom: 0.08em solid #cdd9e3;
    border-radius: 0.1em;
    font-size: 0.9em;
  }

  .nav-drop-community > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-drop-community > ul > li {
    cursor: pointer;
    padding: 0.7em;
  }

  .nav-drop-community > ul > li:hover {
    background-color: #f5f6f7;
  }

  /* end of logged in */


  .user-info {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    justify-content: center;
    width: 12em;
  }

  .user-drop {
    font-size: 1.2em;
  }

  .user-right {
    display: flex;
  }

  .user-info-name {
    display: flex;
    font-weight: bold;
    width: 80%;
  }

  .user-info-name > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .user-avatar {
    height: 2.4em;
  }

  #nav-bar-image {
    height: 100%;
  }

  .drop {
    padding-right: 1em;
    display: inline-block;
    vertical-align: top;
  }

  .nav-drop {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0.08em solid #cdd9e3;
    border-radius: 0.2em;
    font-size: 0.9em;
    width: 15em;
  }


  .nav-drop > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-drop > ul > li {
    cursor: pointer;
    padding: 0.7em;
  }

  .nav-drop > ul > li:hover {
    background-color: #f5f6f7;
  }

  #karma {
    color: grey;
    font-weight: bold;
  }

  .drop-down-bar {
    position: fixed;
    padding-top: 0.2em;
  }

form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: auto 15%;
}

form > input {
    color: black;
    padding: 0.9em;
    border-radius: 2em;
    width: 90%;
    border: none;
    background-color: #f5f6f7;
    border: solid;
    border-color: #cdd9e3;
}

.header-login-button {
    color: white;
    background-color:#2286d2;
    height: 70%;
    width: 8.5em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.create-button {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.community-post-button {
  color: white;
  background-color:#2286d2;
  height: 2.5em;
  width: 90%;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.community-post-button:hover {
  background-color:#3e91d1;
}

.header-login-button:hover {
    background-color:#3e91d1;
}

.header-button {
    display: flex;
    align-items: center;
    padding-right: 1em;
    height: 100%;
}

.login-button {
    color: white;
    background-color: #e23c00;
    width: 100%;
    padding: 0.9em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.login-button-false {
    color: white;
    opacity: 0.5;
    background-color: #e23c00;
    width: 100%;
    padding: 0.9em;
    border-radius: 2em;
    border: none;
    font-weight: bold;
    pointer-events: none;
}

.login-button:hover {
    background-color: #e73e00;
}

.forgot-user-links {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

#modal-links-dot {
    color: rgb(0, 123, 255);
    font-size: 0.3em;
}
/* community modal */

.modal-close-community-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.modal-community {  
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-text-community {
  border-radius: 0.5em;
  background-color: white;
  color: black;
  margin: 8.5% auto; 
  height: 45.5em;
  width: 44.5em;
  font-size: 0.7em;
  gap: 1.5em;
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.5);
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.community-name > p {
  color: grey;
}

.community-header > span {
  font-size: 1.4em;
  font-weight: bold;
}

.community-header-name > span {
  font-size: 1.4em;
  font-weight: bold;
}

.community-header-name {
  padding-bottom: 1em;
}

.community-name > p {
  padding-bottom: 2em;
}

.input-container {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  padding-bottom: 1em;
}

.fix-text {
  font-size: 1.25em;
  position: fixed;
  color: grey;
}

.my-input {
  border: solid rgb(225, 233, 241);
  width: 100%;
  margin-left:-0.75em;
  border-radius: 0.5em;
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 1em;
}

.input-container-p {
  color: red !important;
}

.input-empty, .password-error-false, .community-button-false, 
.community-post-false, .dropbox-false, .community-rules-false, 
#community-dots-false, .moderators-false, .post-media-false, 
.post-pinned-true {
  display: none;
}

.password-error-true {
  display: inline;
  color: red;
}

.modal-divider-text-community {
  display: flex;
  flex-direction: row;
  content: "";
  border-bottom: 0.1em solid;
  border-color:#DAE0E6;
}

.community-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  gap: 1em;
}

.community-create-button {
  color: white;
  background-color:rgb(35, 109, 244);
  height: 70%;
  width: 12.5em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.community-create-button:hover {
  background-color:rgb(53, 118, 237);
}

.community-cancel-button {
  border: solid rgb(35, 109, 244);
  color: rgb(35, 109, 244);
  background-color: #f5f6f7;
  height: 70%;
  width: 6.5em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

.community-cancel-button:hover {
  border: solid rgb(35, 109, 244);
  background-color:#eceeef;
}

.community-header {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

.community-header-radio > span {
  font-size: 1.4em;
  font-weight: bold;
}

.community-header-radio {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.radios {
  display: flex;
  gap: 1em;
  align-items: center;
}

.radios > span {
  color: grey;
}

.community-filter {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1em;
}

#adult {
  font-size: 1.2em;
}

#nsfw {
  font-size: 1em;
  font-weight: bold;
  border: solid;
  background-color: rgb(249, 58, 58);
  padding: 0.15em;
  border-radius: 0.3em;
  color: white;
}

/* community modal end */

.community-page {
  display: flex;
  flex-direction: column;
}

.community-header-top {
  cursor: pointer;
  height: 4.9em;
  background-color: #33a8ff;
}

.community-header-bottom {
  height: 6.25em;
  background-color: white;
}

.community-header-info {
  display: flex;
  flex-direction: column;
  margin: auto 16%;
}

.community-header-info-title{
  display: flex;
  align-items: center;
}

.community-header-buttons {
  padding-left: 1.5em;
  gap: 0.5em;
  display: flex;
  flex-direction: row;
  height: 2em;
}

.community-header-info-subtitle {
  display: flex;
  color: grey;
}

.community-header-info > div {
  display: flex;
}

.community-body {
  padding-top: 1.5em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto 16%;
  gap: 1.5em;
}

.community-body-left {
  display: flex;
  flex-direction: column;
  grid-column: 1;
}

.community-body-right {
  grid-column: 2;
}

.post {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0.2em;
  border: 1px solid #cdd9e3;
  cursor: pointer;
  max-height:40em;
}

.post:hover {
  border: 1px solid darkgrey;
}

.post-left {
  background-color:#f5f6f7;
}

.post-right {
  padding: 0.3em;
}

.post-right > ul {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: grey;
}

.post-right > ul > li {
  list-style-type: none;
  font-size: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.post-right > ul > li:hover {
  background-color: #dfe5eb;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.post-media-true {
  display: inline;
  font-size: 0.85em;
}

.post-pinned-false {
  padding-bottom: 1em;
  font-size: 0.5em;
  font-weight: bold;
  color: grey;
}

.post-pinned-author {
  font-size: 0.7em;
  color: grey;
}

.community-info, .community-mod, .community-rules {
  background: white;
  border-radius: 0.2em;
  border: 1px solid #cdd9e3;
}

.community-info-home {
  background: white;
  border-radius: 0.2em;
  border: 1px solid #cdd9e3;
}

#arrow {
  font-size: 1em;
}

.community-mod > p {
  font-size: 0.7em;
  max-height: 6em;
  padding: 1em;
}

.community-mod > h5 {
  padding: 1em;
  background-color: #2286d2;
  color: white;
}

.community-info-top, .community-info-text, .community-rules, .dropbox-true {
  padding: 1em;
}

.moderators-true {
  display: flex;
}

.community-info-bar {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.community-info-top {
  background-color: #2286d2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.community-info-top-home > ul > li {
  list-style-type: none;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.community-info-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1em;
}

#community-dots {
  display: flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

#community-dots:hover {
  background-color: #dfe5eb;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.community-info-text {
  font-size: 0.9em;
}

.community-rules > ol {
  font-size: 0.8em;
  padding-left: 1.3em;
}

.community-rules > ol > li {
  cursor: pointer;
}

.community-rules > ol > li > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.community-rules > ol > li > div > p {
  font-size: 1.2em;
}

.dropbox-true {
  display: flex;
}

.list {
  display:flex;
  flex-wrap: wrap;
}

.dropbox-true-home {
  padding-left: 1em;
  padding-bottom: 0.7em;
}

.dropbox-true-home > div {
  font-size: 0.7em;
  margin-right: 2em;
  cursor: pointer;
}

.dropbox-true-home > div:hover {
  text-decoration: underline;
}

.community-divider-text {
  display: flex;
  flex-direction: row;
  content: "";
  border-bottom: 0.1em solid;
  border-color:#DAE0E6;
  padding-top: 0.7em;
}

.community-divide {
  display: flex;
  justify-content: center;
}

.community-divider-text-info {
  display: flex;
  flex-direction: row;
  width: 90%;
  content: "";
  border-bottom: 0.1em solid;
  border-color:#DAE0E6;
  padding-top: 0.7em;
}

.community-header-divider {
  display: flex;
  flex-direction: row;
  width: 100%;
  content: "";
  border-bottom: 0.08em solid;
  border-color:white;
}

.community-post-divider {
  display: flex;
  flex-direction: row;
  width: 100%;
  content: "";
  border-bottom: 0.08em solid;
  border-color: rgb(213, 213, 213);
  padding-bottom: 0.8em;
}

.community-filters {
  background-color: white;
}

.community-filters > ul {
  display: flex;
  list-style: none;
  padding: 0.5em;
}

.community-filters > ul > li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  color: grey;
}

.community-filters > ul > li:hover {
  border-radius: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #eceeef;
}

.community-body-left {
  gap: 1em;
}

.community-post-true {
  background-color: white;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  height: 2.5em;
}

#community-input-img {
  height: 100%;
}

.community-post-true > input {
  padding: 0.5em;
  width: 90%;
  border:solid gainsboro;
}

.community-post-true > input:hover {
  border: solid #2286d2;
}

.community-button-true {
  color:white;
  background-color: #2286d2;
  height: 100%;
  border: none;
  width: 8.5em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

.community-button-true:hover {
  background-color: #3e91d1;
}

.community-button-true-joined:hover {
  background-color:#f1f4f7;
}

.community-button-true-joined {
  color:#2286d2;
  border: solid #2286d2;
  background-color: white;
  height: 100%;
  width: 8.5em;
  border-radius: 2em;
  font-weight: bold;
  cursor: pointer;
}

#mod-home {
  font-size: 0.7em;
}

.top-button {
  display: flex;
  justify-content: center;
}

.back-to-top {
  color: white;
  background-color:#2286d2;
  height: 3em;
  width: 9em;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  bottom: 1em;
}

.back-to-top:hover {
  background-color: #3e91d1;
}

.community-post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#community-draft {
  display: flex;
  gap: 0.5em;
  align-items: center;
  font-size: 0.7em;
  color: #2286d2;
  font-weight: bold;
  cursor: pointer;
  background-color: #DAE0E6;
  border-radius: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#community-draft:hover {
  background-color: rgb(191, 191, 191);
}

#community-draft > div {
  padding: 0.2em;
  color: white;
  font-weight: 100;
  background-color: grey;
}

.community-post {
  background-color: white;
}

.community-post > form {
  margin: 0;
}

.community-post-options > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: solid rgb(213, 213, 213);
}

.community-post-section {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  gap: 0.5em;
}

.community-post-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.community-post-title > input {
  width: 95%;
  border: solid rgb(213, 213, 213);
  padding: 1em;
}

.community-post-buttons {
  display: flex;
  gap: 1em;
  padding-top: 0.8em;
  justify-content: flex-end;
}

#community-save-button {
  color:#2286d2;
  background-color: white;
  height: 2.5em;
  width: 20%;
  border-radius: 2em;
  border: solid #2286d2;
  font-weight: bold;
  cursor: pointer;
}

#community-save-button:hover {
  background-color: #eceeef;
}

#community-post-button:hover {
  background-color:#3e91d1;
}

#community-post-button {
  color: white;
  background-color: #2286d2;
  height: 2.5em;
  width: 20%;
  border-radius: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.community-post-bottom {
  height: 3.5em;
  background-color: #eceeef;
}

.logo {
  display: flex;
  padding-left: 1em;
  height: 3em;
  gap: 0.5em;
  align-items: center;
  color: black;
  font-size: 1.2em;
}

#freddit-logo {
  height: 80%;
}